// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow-down';
$arrow-down-x: 53px;
$arrow-down-y: 0px;
$arrow-down-offset-x: -53px;
$arrow-down-offset-y: 0px;
$arrow-down-width: 28px;
$arrow-down-height: 32px;
$arrow-down-total-width: 81px;
$arrow-down-total-height: 81px;
$arrow-down-image: '../../img/sprite.png';
$arrow-down: (53px, 0px, -53px, 0px, 28px, 32px, 81px, 81px, '../../img/sprite.png', 'arrow-down', );
$arrow-left-m-name: 'arrow_left_m';
$arrow-left-m-x: 0px;
$arrow-left-m-y: 53px;
$arrow-left-m-offset-x: 0px;
$arrow-left-m-offset-y: -53px;
$arrow-left-m-width: 32px;
$arrow-left-m-height: 28px;
$arrow-left-m-total-width: 81px;
$arrow-left-m-total-height: 81px;
$arrow-left-m-image: '../../img/sprite.png';
$arrow-left-m: (0px, 53px, 0px, -53px, 32px, 28px, 81px, 81px, '../../img/sprite.png', 'arrow_left_m', );
$cancel-name: 'cancel';
$cancel-x: 0px;
$cancel-y: 0px;
$cancel-offset-x: 0px;
$cancel-offset-y: 0px;
$cancel-width: 52px;
$cancel-height: 52px;
$cancel-total-width: 81px;
$cancel-total-height: 81px;
$cancel-image: '../../img/sprite.png';
$cancel: (0px, 0px, 0px, 0px, 52px, 52px, 81px, 81px, '../../img/sprite.png', 'cancel', );
$tms-trader-no-name: 'tms-trader-no';
$tms-trader-no-x: 33px;
$tms-trader-no-y: 53px;
$tms-trader-no-offset-x: -33px;
$tms-trader-no-offset-y: -53px;
$tms-trader-no-width: 15px;
$tms-trader-no-height: 15px;
$tms-trader-no-total-width: 81px;
$tms-trader-no-total-height: 81px;
$tms-trader-no-image: '../../img/sprite.png';
$tms-trader-no: (33px, 53px, -33px, -53px, 15px, 15px, 81px, 81px, '../../img/sprite.png', 'tms-trader-no', );
$tms-trader-ok-name: 'tms-trader-ok';
$tms-trader-ok-x: 53px;
$tms-trader-ok-y: 33px;
$tms-trader-ok-offset-x: -53px;
$tms-trader-ok-offset-y: -33px;
$tms-trader-ok-width: 20px;
$tms-trader-ok-height: 15px;
$tms-trader-ok-total-width: 81px;
$tms-trader-ok-total-height: 81px;
$tms-trader-ok-image: '../../img/sprite.png';
$tms-trader-ok: (53px, 33px, -53px, -33px, 20px, 15px, 81px, 81px, '../../img/sprite.png', 'tms-trader-ok', );
$spritesheet-width: 81px;
$spritesheet-height: 81px;
$spritesheet-image: '../../img/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-left-m, $cancel, $tms-trader-no, $tms-trader-ok, );
$spritesheet: (81px, 81px, '../../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
