@import './_sprites.scss';

$gold:	#eccd23;

#icon {
	@include sprite($arrow-down);
}

.red {
	color: red;
}

.blue {
	color: blue;
	font-size: 20px;
}

.text-block {
	position: relative;
	
	&:hover {
		cursor: pointer;

		.text-hover {
			width: 100%;
		}
	}
	
	.text {
		padding: 0;
		margin: 0;
		font-size: 25px;
		font-weight: bold;
		color: #000;
		white-space: nowrap;
	}

	.text-hover {
		color: green;
		position: absolute;
		// background-color: grey;
		top: 0;
		left: 0;
		width: 0;
		overflow: hidden;
		transition: width 1s ease-in-out;
	}
}

.photo-border-1 {
	padding: 6px;
	border: 1px solid $gold;
	border-radius: 50%;
	width: auto;
	height: auto;
	display: inline-block;
}

.photo-border-2 {
	padding: 4px;
	border: 3px solid $gold;
	border-radius: 50%;
	width: auto;
	height: auto;
	display: inline-block;
}

.photo-border {
	padding: 0px;
	border: 5px solid $gold;
	border-radius: 50%;
	width: auto;
	height: auto;
	display: inline-block;
	position: relative;

	&::before {
		content: '';
		display: block;
		border: 3px solid $gold;
		border-radius: 50%;
		position: absolute;
		width: 124px;
		height: 124px;
		left: -12px;
		top: -12px;
	}

	&::after {
		content: '';
		display: block;
		border: 1px solid $gold;
		border-radius: 50%;
		position: absolute;
		width: 138px;
		height: 138px;
		left: -19px;
		top: -19px;
	}

	img {
		max-width: 100px;
	}
}

.person-photo {
	max-width: 100px;
	border: 5px solid $gold;
}

.alert {
	width: 200px;
	height: 50px;
	background-color: red;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
}